body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(-60deg, #f7b733 50%, #4abdac 50%);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 200px;
    color: white;
    padding-bottom: 43px;
}

#header h2 {
    font-weight: 500;
}

.scoreboard {
    display: flex;
    align-items: center;
    gap: 30px;
}

#playerScore {
    margin-left: 40px;
}

.scoreIcon {
    margin-top: 60px;
    height: 3em;
    opacity: .9;
}

#me {
    display: flex;
    gap: 12px;
    font-size: .8em;
    opacity: .65;
}

#me h3 {
    font-weight: bold;
    font-size: 1.1em;
    color: #2C6A5F;
}

a {
    text-decoration: none;
    color: inherit;
}

#me img {
    height: 1.6em;
    margin-top: 10px;
    filter: invert(71%) sepia(65%) saturate(339%) hue-rotate(120deg) brightness(82%) contrast(92%);
    opacity: .8;
}

#CPUScoreboard {
    display: flex;
}

#CPUScore {
    margin-right: 40px;
}

.score {
    color: #fa673e00;
    -webkit-text-stroke: 6px white;
    -ms-text-stroke: 6px white;
    -o-text-stroke: 6px white;
    font-size: 7em;
    transition: opacity .2s ease-out;
}

.fadeOut {
    opacity: 0;
}

#arena {
    display: flex;
    gap: 150px;
    flex: 1;
}

@keyframes fadeIn { 
    from {opacity: 0} 
}

#arena h1 {
    color: white;
    font-size: 2em;
    font-weight: 50;
    opacity: .9;
    animation: fadeIn 1s infinite alternate;
    -webkit-animation: fadeIn 1s infinite alternate;
    -ms-animation: fadeIn 1s infinite alternate;
    -o-animation: fadeIn 1s infinite alternate;
}

#arenaLeft {
    margin-left: 5px;
}

.playerArena {
    filter: invert(71%) sepia(65%) saturate(339%) hue-rotate(120deg) brightness(82%) contrast(92%);
    -webkit-animation: fromLeft 0.5s both;
    animation: fromLeft 0.5s both;
}

@keyframes fromLeft {
    0% {
        -webkit-transform: translateX(-300px) scaleX(-1);
        transform: translateX(-300px) scaleX(-1);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(90deg) scaleX(-1);
        transform: translateX(0) rotate(90deg) scaleX(-1);
        opacity: .7;
    }
}

.CPUArena {
    filter: invert(91%) sepia(97%) saturate(280%) hue-rotate(331deg) brightness(300%) contrast(95%);
    -webkit-animation: fromRight 0.5s both;
    animation: fromRight 0.5s both;
}

@keyframes fromRight {
    0% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(-90deg);
        transform: translateX(0) rotate(-90deg);
        opacity: .7;
    }
}

.arenaImage {
    height: 15em;
}

#versus {
    height: 15em;
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    -o-transform: rotate(24deg);
    transform: rotate(24deg);
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(287deg) brightness(105%) contrast(101%);
    opacity: .85;
}

.versusNoText {
    margin-left: 12.5px;
}

#buttons {
    height: 275px;
    gap: 20px;
    overflow-y: hidden;
}

#buttons img {
    margin-top: 225px;
}

#rock {
    margin-top: 32px;
    margin-left: 30px;
}

.selection {
    transition: transform .3s ease-in-out;
    height: 25em;
}

.hoverOnly:hover {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
}

.translateDown {
    transition: transform .3s ease-in-out;
    -webkit-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
    transform: translateY(300px);
}

.translateUp {
    -webkit-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    transform: translateY(-300px);
}

.hidden {
    display: none;
}

.shown {
    display: inline;
}

.countdown {
    color: #fa673e00;
    -webkit-text-stroke: 1px white;
    -ms-text-stroke: 1px white;
    -o-text-stroke: 1px white;
    font-size: 7em;
    text-transform: uppercase;
    margin-top: 45px;
}

.growAlert {
    -webkit-animation-name: growAlert;
    -ms-animation-name: growAlert;
    -o-animation-name: growAlert;
    animation-name: growAlert;
}

@keyframes growAlert {
    from {font-size: 0em;}
    to {font-size: 7em;}
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    margin: 0;
    padding: 0;
    animation-duration: .3s;
}
