body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(-60deg, #f7b733 50%, #4abdac 50%);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: space-between;
    height: 200px;
    color: white;
    padding-bottom: 43px;
}

#header h2 {
    font-size: 2em;
}

.scoreboard {
    display: flex;
    align-items: center;
    gap: 30px;
}

#playerScore {
    margin-left: 40px;
}

.scoreIcon {
    margin-top: 60px;
    height: 3em;
    opacity: .9;
}

#me {
    display: flex;
    gap: 12px;
    font-size: .8em;
    opacity: .9;
}

#me img {
    height: 2em;
    margin-top: 10px;
}

#CPUScoreboard {
    display: flex;
}

#CPUScore {
    margin-right: 40px;
}

.score {
    color: #fa673e00;
    -webkit-text-stroke: 12px white;
    font-size: 5em;
}

#arena {
    display: flex;
    gap: 150px;
    flex: 1;
}

#arena h1 {
    color: white;
    font-size: 2em;
    font-weight: 50;
    opacity: .9;
    animation: fadeIn 1.1s infinite alternate;
}

#arenaRight {
    margin-right: 17px;
}

@keyframes fadeIn { 
    from { opacity: 0} 
}

.arenaImage {
    height: 15em;
}

#versus {
    height: 15em;
    transform: rotate(24deg);
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(287deg) brightness(105%) contrast(101%);
}

#buttons {
    height: 275px;
    gap: 20px;
    overflow-y: hidden;
}

#buttons img {
    margin-top: 225px;
}

#rock {
    margin-top: 32px;
    margin-left: 30px;
}

.selection {
    height: 25em;
    transition: transform .3s ease-in-out;
}

.selection:hover {
    transform: translateY(-50px);
}

h1 {
    margin: 0;
    padding: 0;
}